<form [formGroup]='registerForm' (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" formControlName='username'  placeholder="Username">
    </div>
    <div>
        <input type="password" class="form-control" formControlName='password' placeholder="Password">

    </div>
    <br>
    <div>
        <input type="password" class="form-control" formControlName='confirmPassword' placeholder="confirmPassword">

    </div>
    <hr>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2 " type="submit">Register</button>
        <button class="btn btn-light mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>
<p> Form Value: {{registerForm.value | json}}</p>
<p> Form Value: {{registerForm.status | json}}</p>